<div class="admit-title">
  <h2>Psots</h2>
  <a href="/add-post" class="button"> + Add New Post</a>
</div>

<ul class="admin-posts">
  <% data.forEach(post => { %>

  <li>
    <a href="/post/<%= post._id %>"> <%= post.title %> &nearr;</a>
    <div class="admin-post-controls">
      <a href="/edit-post<%= post._id %>" class="btn">Edit</a>

      <form action="/delete-post/<%= post._id %>? method=DELETE" method="post">
        <input type="submit" vlaue="Delete" class="btn-delete btn" />
      </form>
    </div>
  </li>
  <% }); %>
</ul>
